.carousel-caption > h5 {
  color: white;
}

i {
  color: black;
  font-weight: bold;
  display: inline-block;
}

.fa-icon-size {
  font-size: 6pt;
}

.text-black {
  color: #000000 !important;
}

.text-body {
  color: #232222 !important;
}

.fw-bold {
  font-weight: 600;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
